@use "base" as *;
@use "mixin" as *;

.container {
  width: 90%;

  display: flex;
  flex-direction: column;
  gap: 7rem;

  // opacity: 0;

  @include for-desktop {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;

    max-width: 1200px;
    height: 400px;
  }
}

.user {
  @include for-desktop {
    grid-row: 1/-1;
  }

  &__header {
    display: flex;
    align-items: center;

    padding: 3rem;

    background-color: $color-primary-blue;

    border-radius: $border-radius;

    position: relative;
    z-index: 100;

    @include for-desktop {
      flex-direction: column;
      align-items: start;

      height: 70%;
    }
  }

  &__img {
    width: 20%;

    margin-right: 1.5rem;

    border-radius: 50%;
    border: 3px solid #fff;

    box-sizing: content-box;

    @include for-desktop {
      width: 40%;
      margin-bottom: 2rem;
    }
  }

  &__txt {
    display: inline-block;
    margin-bottom: 0.5rem;

    font-size: 1.4rem;
  }

  .frequency {
    display: flex;
    justify-content: space-between;

    margin-top: -3rem;
    padding: 5rem 3rem 2rem;

    font-size: 1.6rem;

    background-color: $color-blue-3;

    border-radius: 0 0 $border-radius $border-radius;

    @include for-desktop {
      height: calc(30% + 3rem);

      flex-direction: column;
      justify-content: end;
      gap: 1.5rem;
    }

    &__item {
      @include for-desktop {
        display: inline;

        font-size: 1.2rem;

        transition: 0.2s;
        cursor: pointer;

        &:hover {
          color: #fff;
        }
      }
    }

    &__item:not(:first-child):not(:last-child) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      @include for-desktop {
        position: relative;
      }
    }
  }
}

.timeContainer {
  display: flex;
  flex-direction: column;
  gap: 7rem;

  @include for-desktop {
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
  }
  section {
    display: flex;
    flex-direction: column;

    position: relative;

    @include for-desktop {
      justify-content: end;
    }

    .background-border {
      position: absolute;
      top: -4rem;

      width: 100%;
      height: 5rem;

      background-position: top right 2rem;
      background-repeat: no-repeat;

      border-radius: $border-radius $border-radius 0 0;

      @include for-desktop {
        top: 0;
      }

      &-work {
        background-color: $color-work;
        background-image: url("/images/icon-work.svg");
      }

      &-play {
        background-color: $color-play;
        background-image: url("/images/icon-play.svg");
      }

      &-study {
        background-color: $color-study;
        background-image: url("/images/icon-study.svg");
      }

      &-exercise {
        background-color: $color-exercise;
        background-image: url("/images/icon-exercise.svg");
      }

      &-social {
        background-color: $color-social;
        background-image: url("/images/icon-social.svg");
      }

      &-self-care {
        background-color: $color-self-care;
        background-image: url("/images/icon-self-care.svg");
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;

      background-color: $color-blue-3;
      padding: 3rem;

      border-radius: $border-radius;
      z-index: 100;

      transition: 0.2s;

      @include for-desktop {
        cursor: pointer;

        &:hover {
          background-color: $color-blue-2;
        }
      }
    }

    .header,
    .duration {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .duration {
      @include for-desktop {
        flex-direction: column;
        align-items: start;

        gap: 0.5rem;
      }
    }
  }
}
