@use "base" as *;
@use "mixin" as *;

.heading {
  &-2 {
    font-weight: $fw-3;
    color: #fff;
  }

  &-3 {
    font-size: 2.5rem;
    font-weight: $fw-1;
    color: #fff;
  }

  &-4 {
    font-size: 2.5rem;
    font-weight: $fw-1;
    color: #fff;
  }

  &-6 {
    font-weight: $fw-2;

    @include for-desktop {
      font-size: 1rem;
    }
  }
}
